@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.img {
    background-image: url(../images/Day/snow.jpg);
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.316);
    background-blend-mode: overlay;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    transition: 2s;
    z-index: -1;
}

.search {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 3vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.701);
    padding: 1em 2em;
    width: 500px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.701);
    transition: .3s;
}

.loader {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.523);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.loader div {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.loader div:nth-child(1) {
    animation: boxOne 1s ease-in-out infinite;
}
.loader div:nth-child(2) {
    animation: boxTwo 1s ease-in-out infinite;
    animation-delay: .1s;
}
.loader div:nth-child(3) {
    animation: boxThree 1s ease-in-out infinite;
    animation-delay: .2s;
}
.loader div:nth-child(4) {
    animation: boxFour 1s ease-in-out infinite;
    animation-delay: .3s;
}

@keyframes boxOne{
    0% {opacity:0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes boxTwo{
    0% {opacity:0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes boxThree{
    0% {opacity: 0; margin-top: -40px}
    100% {opacity: 1;}
}
@keyframes boxFour{
    0% {opacity: .0; margin-top: -40px}
    100% {opacity: 1;}
} 

.search:hover {
    border-color: white;
}

.search input {
    all: initial;
    background-color: transparent;
    color: white;
    font-family: poppins;
    text-align: center;
}

.search i {
    position: absolute;
    right: 10%;
    color: rgba(255, 255, 255, 0.386);
    font-size: 20px;
    border-radius: 50%;
    padding: .3em;
    cursor: pointer;
    transition: .2s;
}

.search i:hover {
    color: white;
}

.search i:active {
    color: rgba(255, 255, 255, 0.386);
}

::placeholder {
    font-family: poppins;
}

.myLocation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 13vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    padding: .5em;
    width: 175px;
    font-weight: 200;
    cursor: pointer;
    transition: .3s;
}

.myLocation:hover {
    background-color: white;
}

.myLocation:active {
    background-color: rgba(255, 255, 255, 0.65);
}

.week {
    
}

.todayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: white;
    font-weight: 100;
    position: absolute;
    top: 3vh;
    left: 5vw;
}

.todayContainer .time {
    font-size: 50px;
    font-weight: 100;
}

.todayContainer .dayMonth {
    font-size: 30px;
}

.todayDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.619);
    padding: 1.3em 1em;
    border: 1px solid;
    width: 300px;
    border-radius: 8px;
}

.todayDetailsContainer .detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.742);
    padding: .5em 3em;
    opacity: 0;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 300;
    overflow: hidden;
    overflow-x: scroll;
    gap: 60px;
    transition: .4s;
}

.week .currentDay,
.week .day {
    border: 1px solid white;
    border-radius: 10px;
}

.week .currentDay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0em;
    gap: 20px;
    min-width: 470px;
}

.week .currentDay img {
    width: 35%;
}

/* .week .currentDay i {
    font-size: 60px;
} */

.currentDay .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.currentDay span:nth-child(1),
.day span:nth-child(1) {
    background-color: #33333c;
    padding: .1em 1em;
    text-align: center;
    border-radius: 12px;
}

.week .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 175px;
}

.day span {
    display: block;
    font-size: 15px;
}

.day span:nth-child(1) {
    font-size: initial;
    width: 65px;
    margin: auto;
    text-align: center;
}

.day i {
    align-self: center;
    font-size: 30px;
    padding: 1em 0em;
}

@media(max-width:1025px) {

    .search {
        left: auto;
        right: 0px;
        top: 3vh;
    }

    .myLocation {
        left: auto;
        right: 160px;
        top: 13vh;
    }
}

@media(max-width:745px) {
    .todayContainer {
        top: 20vh;
        left: 5vw;
    }

    .week {
        position: static;
        margin-top: 80vh;
    }

    .search {
        left: 0;
        right: 0;
        top: 3vh;
    }

    .myLocation {
        left: 0;
        right: 0;
        top: 13vh;
    }
}

@media(max-width:500px) {
    .search {
        left: 0;
        right: 0;
        top: 3vh;
        width: 100vw;
    }

    .myLocation {
        left: 0;
        right: 0;
        top: 13vh;
    }

    .todayContainer {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 22vh;
        text-align: center;
        align-items: center;
    }

    .week .currentDay {
        min-width: 90vw;
        width: 90vw;
    }
}